body {
    background-image: linear-gradient(lightgray 2px, transparent 2px), linear-gradient(to right, lightgray 2px, #e5e5f7 2px);
    background-size: 32px 32px;
    background-position: -13.5px -21px;
    background-attachment: fixed;
}