:root {
    --tda-blue: #0070BB;
    --tda-blue-darker: #395A9A;
    --tda-white: #FFFFFF;
    --tda-light: #F6F6F6;
}

html {
    width: 100%;
}

.container-fluid {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}