<table class="border border-primary">
    {% for y in game["board"] %}
    <tr>
    {% for x in y %}
        <td style="padding: 0px;">
            <button type="button"
                class="btn bg-white rounded-0 border d-flex tickcell"
                style="aspect-ratio: 1/ 1; width: .75em; padding: 0; justify-content: center; border-color: lightgray !important; cursor: default;"
            >
                {% if x == "X" %}
                <img
                    draggable="false"
                    src="{{url_for('game_bp.static', filename='/TdA _ Ikonky/SVG/X/X_modre.svg')}}"
                    class="img-fluid align-self-center"
                    alt="X"
                    style="height: 1.5rem"
                />
                {% elif x == "O" %}
                <img
                    draggable="false"
                    src="{{url_for('game_bp.static', filename='/TdA _ Ikonky/SVG/O/O_cervene.svg')}}"
                    class="img-fluid align-self-center"
                    alt="O"
                    style="height: 1.65rem"
                />
                {% endif %}
            </button>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>