<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>TdA</title>
</head>
<body>
    <div class="card" id="boxik">
        {% for x in heynow %}
            <p>{{x}}</p>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label for="" class="form-label">
        </label>
        <textarea id="mess" class="form-control" name="" id="" rows="3"></textarea>
        <button
            type="submit"
            class="btn btn-primary"
            onclick="a()"
        >
            Submit
        </button>
        
    </div>
    

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('message', {data: 'I\'m connected!'});
    });
    socket.on('receive', (data) => {
        console.log(data)
        document.getElementById("boxik").innerHTML += `<p>${data}</p>`
    })

    function a() {
        socket.emit('send_message', {"text": document.getElementById("mess").value})
    }
</script>
</html>